<%- include ('../partials/header.ejs'); %>

<body>

<%- include ('../partials/navbar.ejs'); %>
	
	<div class="container">
		<div class="card">
			<div class="card-header">
				<h3>Aplicação De Teste De Perguntas E Respostas</h3>
			</div>
			
			<div class="card-body">
					
				<a href="/perguntar"><button class="btn btn-primary">Perguntar</button></a>
			</div>	
			
		</div>	
	<div>
		

   
</body>

<%- include ('../partials/footer.ejs'); %>
